# Netbeans Artifacts
nbproject
build
dist
manifest.mf
build.xml
/Part2/Learning/target/
nbactions.xml

# IntelliJ Artifacts
.idea
*.iml
/report/report.aux
/report/report.bbl
/report/report.blg
/report/report.log
/report/report.pdf
